header
	div#logo
		p Logo goes here
	div#headerTopRight
		if user
			div
				a(href='/myProfile') #{user.username}
			div
				a(href='/logout') Log out
		else
			div
				a(href='/login') Log in
			div
				a(href='/register') Register
